# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Data
input/
output/
*.nii
*.nii.gz
*.dcm
*.DCM
*.ima
*.IMA
progress.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
